<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">


<!-- Begin Page Content -->
<div th:block layout:fragment="content" class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Simple Board Register Page </h1>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">SimpleBoard Register</h6>
        </div>
        <div class="card-body">
            <form action="/sboard/register" method="post">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" th:name="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label>Writer</label>
                    <input type="text" class="form-control" th:name="writer" placeholder="Writer">
                </div>
                <div class="form-group">
                    <label>Content</label>
                    <textarea th:name="content" class="form-control"></textarea>
                </div>
                <button th:type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

<script th:inline="javascript">
    $(document).ready(function () {
        console.log("register...");
    })

</script>


</div>
<!-- /.container-fluid -->


